.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.input-form {
  display: flex;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.button-group button {
  padding: 10px 12px;
  background-color: #fff;
  cursor: pointer;
}

.table-wrapper {
  width: 100%;
}

table {
  margin: auto;
  text-align: center;
}

th,
td {
  padding: 10px;
}

th {
  min-width: 100px;
}
